<div class="mt-2 pl-2 pr-2">
  <h2 i18n [innerHTML]="environment.title"></h2>
  <img-block></img-block>
  <h3 class="pl-1 pr-1" i18n>Сколько инвестировать?</h3>
  <div class="mt-1">
    <div class="position-absolute">
      <img *ngIf="showHand1" class="img-finger-right" [src]="sanitize()" />
    </div>
    <div>
      <button (click)="selected(10000)" type="button" i18n>{{ 10000 | cfccurrency }}</button>
    </div>
  </div>
  <div class="mt-1">
    <div class="position-absolute">
      <img *ngIf="showHand2" class="img-finger-right" [src]="sanitize()" />
    </div>
    <div>
      <button (click)="selected(100000)" type="button" i18n>{{ 100000 | cfccurrency }}</button>
    </div>
  </div>
  <div class="mt-1">
    <div class="position-absolute">
      <img *ngIf="showHand3" class="img-finger-right" [src]="sanitize()" />
    </div>
    <div>
      <button (click)="selected(1000000)" type="button" i18n>{{ 1000000 | cfccurrency }}</button>
    </div>
  </div>
</div>
