/*
.play-screen-wrapper {
    margin-top: 25px
}

.image-wrapper {
    img { padding: 10px }
}

.clear { clear: both; }
.button-wrapper { margin-top: 30px;
    .invest-button { width: 100%; margin-top: 15px;
        table { width: 100%;
            .hand-col { width: 50px }
        }
    }
    button { width: 100%; font-size: 1.45rem }
}
*/

.play-screen-wrapper {
  margin-top: 25px;
  h2{
    padding: 0rem 1rem;
  };
  h3{
    padding: 0rem 2rem;
  }
}

.image-wrapper {
  img { padding: 10px }
}

.clear { clear: both; }

.button-wrapper {
  margin-top: 30px;
  .invest-button { width: 100%; margin-top: 15px;
    .invest-button { width: 100%; margin-top: 0px;
      table { width: 100%;
        .hand-col { width: 50px }
      }
    }
    button { width: 100%; font-size: 1.45rem }
    button {
      width: 100%;
      font-size: 1.45rem;
      padding: 2rem 1rem;
    }
  }

  @media (max-width: 350px) {
    .button-wrapper {
      button {
        padding: 1rem 1rem;
        line-height: 1.5rem;
      }
    }
  }

  @media (max-width: 450px) {
    .button-wrapper {
      button {
        padding: 2rem 1rem;
        line-height: 1.5rem;
      }
    }
  }
}

