<div class="mt-2">
  <h2 i18n [innerHTML]="environment.title"></h2>
  <img-block></img-block>
  <h3 i18n>Сколько у меня денег?</h3>
  <div>
    <div class="position-absolute pt-5">
      <img *ngIf="showHand1" width="50" [src]="sanitize()" />
    </div>
    <div>
      <button (click)="selected(10000)" type="button" i18n>
        Инвестировать {{ 10000 | cfccurrency }}
      </button>
    </div>
  </div>
  <div>
    <div class="position-absolute pt-5">
      <img *ngIf="showHand2" width="50" [src]="sanitize()" />
    </div>
    <div>
      <button (click)="selected(100000)" type="button" i18n>
        Инвестировать {{ 100000 | cfccurrency }}
      </button>
    </div>
  </div>
  <div>
    <div class="position-absolute pt-5">
      <img *ngIf="showHand3" width="50" [src]="sanitize()" />
    </div>
    <div>
      <button (click)="selected(1000000)" type="button" i18n>
        Инвестировать {{ 1000000 | cfccurrency }}
      </button>
    </div>
  </div>
</div>
