.play-screen-wrapper {
    margin-top: 25px;
    h2{
      padding: 0rem 1.5rem;
    }
}

.image-wrapper {
    img { padding: 10px }
}

.clear { clear: both; }
.button-wrapper { margin-top: 30px;
    .invest-button { width: 100%; margin-top: 15px;
        table { width: 100%;
            .hand-col { width: 50px }
        }
    }
    button { width: 100%; font-size: 1.45rem }
}
