.play-screen-wrapper {
  margin-top: 25px
}

.image-wrapper {
  img { padding: 10px }
}

.clear { clear: both; }
.button-wrapper { margin-top: 30px;
  .invest-button { width: 100%; margin-top: 15px;
    table { width: 100%;
      .hand-col { width: 50px }
    }
  }
  button { width: 100%; font-size: 1.45rem }
  button {
    width: 100%;
    font-size: 1.3rem;
    padding: 1rem 1.2rem;
    line-height: 1.5rem;
  }
}

@media (max-width: 350px) {
  .button-wrapper {
    button {
      padding: 1rem 0rem;
      line-height: 1.5rem;
      font-size: 1rem;
    }
  }
}

@media (min-width: 460px) {
  .button-wrapper {
    button {
      padding: 2rem 2rem;
      line-height: 1.8rem;
      font-size: 1.5rem;
      height: 109px;
    }
  }
}

