<div class="play-screen-wrapper">
    <div *ngIf="this.profit > 0" class="step3">
        <h2>Вы заработали </h2>
        <button type="button" class="btn btn-result">{{ profit | cfccurrency }}</button>
        <img-block></img-block>
        <div class="clear"> </div>       

        <div class="button-wrapper">
          <div class="invest-button">
            <table>            
              <tr>
                <td class="hand-col"><img *ngIf="showHand1" width="50" src="assets/finger_right.png"/></td>
                <td>
                  <button (click)="getMoney()" type="button" class="btn ">Заработать реальные деньги</button>
                </td>
                <td class="hand-col"></td>
              </tr>
            </table>
          </div>
          
            <div class="invest-button">
              <table>            
                <tr>
                  <td class="hand-col"><img *ngIf="showHand2" width="50" src="assets/finger_right.png"/></td>
                  <td>
                    <button (click)="selected($event)" type="button" class="btn ">Оставить карманы пустыми</button>
                  </td>
                  <td class="hand-col"></td>
                </tr>
              </table>
            </div>    
        </div> 
    </div>  


    <div *ngIf="this.profit < 0" class="step3">
        <h2>Вы потеряли {{ profit }}</h2>
        <button type="button" class="btn btn-result">{{ profit | cfccurrency }}</button>
        <img-block></img-block>
        <div class="clear"> </div>       

        <div class="button-wrapper">
          <div class="invest-button">
            <table>            
              <tr>
                <td class="hand-col"><img *ngIf="showHand1" width="50" src="assets/finger_right.png"/></td>
                <td>
                  <button (click)="getMoney()" type="button" class="btn ">Заработать реальные деньги</button>
                </td>
                <td class="hand-col"></td>
              </tr>
            </table>
          </div>
          
          <div class="invest-button">
            <table>            
              <tr>
                <td class="hand-col"><img *ngIf="showHand2" width="50" src="assets/finger_right.png"/></td>
                <td>
                  <button (click)="selected($event)" type="button" class="btn ">Оставить карманы пустыми</button>
                </td>
                <td class="hand-col"></td>
              </tr>
            </table>
          </div>   
          
          <div class="invest-button">
              <table>            
                <tr>
                  <td class="hand-col"><img *ngIf="showHand3" width="50" src="assets/finger_right.png"/></td>
                  <td>
                    <button (click)="selected($event)" type="button" class="btn ">Попробовать еще раз</button>
                  </td>
                  <td class="hand-col"></td>
                </tr>
              </table>
            </div>    
        </div> 
    </div>  
  </div>
  