<div>
  <h2 i18n [innerHTML]="environment.title"></h2>
  <img-block></img-block>
  <h3 i18n>На какой срок вложить деньги?</h3>
  <div>
    <div class="position-absolute pt-4">
      <img *ngIf="showHand1" width="50" src="assets/finger_right.png" />
    </div>
    <div>
      <button
        (click)="selected(environment.weekRates[week.index])"
        type="button"
        i18n
      >
        {{ week.title }}
      </button>
    </div>
  </div>
  <div>
    <div class="position-absolute pt-4">
      <img *ngIf="showHand2" width="50" src="assets/finger_right.png" />
    </div>
    <div>
      <button
        (click)="selected(environment.monthRates[month.index])"
        type="button"
        i18n
      >
        {{ month.title }}
      </button>
    </div>
  </div>
  <div>
    <div class="position-absolute pt-4">
      <img *ngIf="showHand3" width="50" src="assets/finger_right.png" />
    </div>
    <div>
      <button
        (click)="selected(environment.yearRates[year.index])"
        type="button"
        i18n
      >
        {{ year.title }}
      </button>
    </div>
  </div>
</div>
