@import './variables';

html {
  min-width: fit-content;
  background: url(#{$background_portrain});
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  overflow: scroll;

  body {
    background-color: transparent;
    line-height: 1.2rem;

    h2,
    h3 {
      text-transform: uppercase;
      color: white;
      font-weight: bold;
      line-height: 1rem;
      font-size: 1rem;
    }

    h3 {
      font-size: 0.8rem;
    }

    img.img-crypt-logo{
      width: 80px;
    }
    img.img-finger-right {
      width: 25px;
    }

    button {
      width: 7rem;
      text-transform: uppercase;
      background-image: url(#{$background-button-image});
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 1rem;
      border: 0px solid transparent;
      background-color: transparent;
      color: black;
      font-weight: 600;
      font-size: 0.8rem;
      line-height: 1rem;
    }
  }
}

@media (orientation: portrait) {
  div.game-panel {
    flex: 0 0 100%;
    max-width: 100%;
  }
  div.navigation-panel {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 0.5rem;
  }
}

@media (orientation: landscape){
  div.full-game{
    //margin-top: 2rem; // todo try to align-middle vertically
    div.game-panel {
      flex: 0 0 75%;
      max-width: 75%;
    }
    div.navigation-panel {
      flex: 0 0 25%;
      max-width: 25%;
      height: 100%;
      align-items: flex-end;
      display: contents;
      text-align: center;
    }
  }

}

html ::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
