$assetPath : "/assets";

html {
  background: url(#{$assetPath}/background_portrain.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;

  body {
    background-color: transparent;
  }

  h2, h3 {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    max-width: 25rem;
  }

  button {
    width: 17rem;
    text-transform: uppercase;
    background-image: url(#{$assetPath}/button_1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    color: black;
    border: 0px solid transparent;
    background-color: transparent;
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
  }
}

@media (orientation: landscape) and (max-width: 812px) {
  div.navigation-panel {
    display: flex !important;
    justify-content: flex-end !important;
    margin-right: -15rem;
  }
}
