<app-game></app-game>

<audio id="mwe_player_0" controls="" preload="auto" class="kskin invisible" data-durationhint="79.307755102041" data-startoffset="0" >
    <source src="//upload.wikimedia.org/wikipedia/commons/c/c0/Rimsky-Korsakov_-_flight_of_the_bumblebee.oga" type="audio/ogg; codecs=&quot;vorbis&quot;" data-title="Оригинальный Ogg-файл (73 Кб/с)" data-shorttitle="Источник Ogg" data-width="0" data-height="0" data-bandwidth="73201">
    <source src="//upload.wikimedia.org/wikipedia/commons/transcoded/c/c0/Rimsky-Korsakov_-_flight_of_the_bumblebee.oga/Rimsky-Korsakov_-_flight_of_the_bumblebee.oga.mp3" type="audio/mpeg" data-title="MP3" data-shorttitle="MP3" data-transcodekey="mp3" data-width="0" data-height="0" data-bandwidth="203608">
</audio>

<audio id="mwe_player_1" controls="" preload="auto" class="kskin invisible" data-durationhint="79.307755102041" data-startoffset="0" data-mwtitle="Rimsky-Korsakov_-_flight_of_the_bumblebee.oga" data-mwprovider="wikimediacommons">
    <source src="assets/Sound_02025.mp3" type="audio/mpeg" data-title="MP3" data-shorttitle="MP3" data-transcodekey="mp3" data-width="0" data-height="0" data-bandwidth="203608">
</audio>
